#formList {
    display: flex;
    gap: 0.25em;
}

input[type='text'] {
    font-size: 18px;
    width: 20em;
}

#searchBtn {
    background-color: #c8672185;
    height: 2em;
    width: 4em;
    border-radius: 5px;
    color: azure;
}
#searchBtn:hover {
    background-color: #46432a98;
    box-shadow: -2px rgba(0, 0, 0, 0.459);
    cursor: pointer;
}