.landingContainer {
    height: 100%;
    width: 100%;
    background-image: url('../../../public/landingImg1.jpg');
}

.mask {
    width: 100%;
    height: 1100px;
    background: rgba(104, 104, 104, 0.185);
}