.landingContainer {
    height: fit-content;
    width: 100%;
    background-image: url('../../../public/landingImg1.jpg');
    background-repeat: no-repeat;
}


.pageBody {
    height: 1180px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.192);
    flex-wrap: wrap;
}

.headerContainer {
    width: 30em;
    height: 8em;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 9em;
    border: 5px;
    border-style: solid;
    border-color: #C86621;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerText {
    color: #C86621;
    font-size: 1.5em;
}

.aboutSection {
    width: 100%;
    height: fit-content;
    margin-left: 9.5em;
    margin-right: 9.5em;
}

.aboutContainer {
    width: 20em;
    height: 40em;
    background: grey;
    border: 3px;
    border-style: solid;
    border-color: black;
    background-color: #46432a98;
}