.landingContainer {
    height: fit-content;
    width: 100%;
    background-image: url('../../../public/landingImg1.jpg');
    background-repeat: no-repeat;
}


.pageBody {
    height: 1180px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.192);
    flex-wrap: wrap;
}

.headerContainer {
    width: 30em;
    height: 8em;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 5em;
    border: 5px;
    border-style: solid;
    border-color: #C86621;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerText {
    color: #C86621;
    font-size: 1.5em;
}

.aboutSection {
    width: 100%;
    height: fit-content;
    margin-left: 9.5em;
    margin-right: 9.5em;
}

.aboutContainer {
    width: 20em;
    height: 40em;
    background: grey;
    border: 3px;
    border-style: solid;
    border-color: black;
    background-color: #46432a98;
}

.aboutTitle {
    width:19.75em;
    height: 5em;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutTitle h2 {
    font-size: 2em;
    font-weight: 400;
    color: #C86621;
}

.aboutText ul{
    display: flex;
    flex-direction: column;
}

.aboutText ul li{
    display: flex;
}

#bigRegButton {
    width: 12em;
    height: 3em;
    border-radius: 35px;
    background-color: #c8672185;
    cursor: pointer;
    font-size: 20px;
    color: azure;
    border: 2px;
    border-style: solid;
    border-color: black;
}
#bigRegButton:hover {
    background-color: #46432a98;
    box-shadow: -2px rgba(0, 0, 0, 0.459);
}