ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

li {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.navBar {
  background: rgba(0, 0, 0, 0.452);
  box-shadow: 4px 2px 5px rgb(17, 17, 17);
  color: rgb(0, 0, 0);
  padding: 1.5rem 2rem;
}

.navBar button {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0);
  color: white;
  padding: 0.4rem 0.5rem;
  width: 9em;
  height: 2em;
  font-size: 1em;
}

.navBar button:hover {
  background: white;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
