.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
}

.formInput {
    display: flex;
    align-items: center;
    gap: 1em;
}

.formInput label {
    font-size: 1.2em;
}

.formInput input {
    height: fit-content;
    width: fit-content;
}

.formContainer button {
    background-color: #c8672185;
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    font-weight: 600;
    padding: 0.5em;
}

.formContainer button:hover {
    background-color: #46432a98;
    box-shadow: -2px rgba(0, 0, 0, 0.459);
    cursor: pointer;
    color: azure;
}