.homeContainer {
    background-color: #46432a98;
}

.homePageBody {
    height: 830px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.searchFilters {
    height: 100%;
    width:fit-content;
    background-color: #fff8dc6b;
}