.homeContainer {
    background-color: #46432a98;
}

.homePageBody {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.searchFilters {
    height: fit-content;
    width: 100%;
    background-color: #fff8dc6b;
    display: flex;
    justify-content: center;
    box-shadow: 15px black;
}

.searchBar {
    margin-top: 2em;
}