.homeContainer {
    background-color: #46432a98;
}

.homePageBody {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5em;
}

.searchFilters {
    height: fit-content;
    width: 100%;
    background-color: #fff8dc6b;
    display: flex;
    justify-content: center;
    box-shadow: 15px black;
}

.searchBar {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

#resetBtn {
    background-color: #c8672185;
    height: 2.5em;
    width: 10em;
    border-radius: 5px;
    color: azure;
}

#resetBtn:hover {
    background-color: #46432a98;
    box-shadow: -2px rgba(0, 0, 0, 0.459);
    cursor: pointer;
    color: azure;
}