#homeNavText {
    background-color: #c86721e6;
    width: 8em;
    height: fit-content;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

#homeNavText b{
    padding: 5px;
}

li .userWelcome {
    font-size: 0.75em;
    color: white;
  }

.navBtns {
    gap: 3em;
}

#navBtn {
    text-decoration: none;
    font-size: 25px;
    color: white;
}
#navBtn:hover {
    background: #c8672162;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
    padding-left: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}