.builderBody {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    padding-left: 5em;
    padding-right: 5em;
}

.recipeCardContainer {
    margin-top: 1em;
}

.mealLayoutContainer button{
    float: right;
}