.builderBody {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    padding-left: 5em;
    padding-right: 5em;
}

.recipeCardContainer {
    margin-top: 1em;
}

.mealLayoutContainer button{
    float: right;
}

#removeBtn {
    border-radius: 5px;
    padding: 0.3em;
    background-color: #c8672196;
}

#removeBtn:hover {
    background-color: #1c3a18a8;
    cursor: pointer;
    color: azure;
}