.filtersContainer {
    margin-top: 2em;
    margin-bottom: 1em;
}

.filtersBody {
    display: flex;
    align-items: center;
    gap: 5em;
}

.mealType {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}

.dishType {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.cuisineType {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.dietType {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.dietsToggle {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#dietsButton {
    height: 2em;
    width: 7em;
    margin-left: 1.5em;
    border-radius: 1em;
}

#dietsButton:hover {
    background-color: #c8672185;
    box-shadow: -2px rgba(0, 0, 0, 0.459);
    cursor: pointer;
}